* {
    margin: 0;
    padding: 0; 
    box-sizing:border-box;
    text-decoration: none;
    
}


body {
    background: url(icon\ principal.jpg) no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  
}

/*fundo fosco do Menu*/
.tela-login-home {
    position: center;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(216, 211, 211, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px #1f1b1b80;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
}

.cabecalho-home {
    display: flex;
    align-items:center;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 40px;
    width: 100%; 
    z-index: 99;
    background: #585e91;
   
    
}

.sub-titulo-home {

    text-align: center;
    margin-top: 0px;
    color: #32386d;

}

/*Estilos do Botao Logar*/
.botao-logar {
    width: 100%;
    height: 45px;
    padding: 10px;
    background: #32386d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    
    
}

/*paramentros das caixas do menu*/
.entrada-dados-home {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/*
.menu-button {

    position: relative;
    font-size: 1.1em;
    color: rgb(158, 89, 89);
    font-weight: 500;
    margin-right: 100px;
    display: flex;
    gap: 30px;
    
}
.menu-button .botao {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1em;
    color: rgb(252, 245, 245);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.menu-button .botao:hover {
    background-color: white;
    color: black;
    border: none;
}

/*.tela-login.active-popup {
    transform: scale(1);
}

.tela-login.active {
    height: 520px;
}

.tela-login  .titulo{
    width: 100%;
    padding: 40px;
}
.tela-login .titulo.logar {
    transition: transform .18 ease;
    transform: translateX(0);
}
.tela-login.active .titulo.logar {
    transition: none;
    transform: translateX(-400px);
}

.tela-login .titulo.registro {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.tela-login.active .titulo.registro {
    transition: transform .18 ease;
    transform: translateX(0);
}    

.tela-login .icone-fechar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #32386d;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px; 
    cursor: pointer;  
    z-index: 1;      

}

.titulo h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

*/


/*
.entrada-dados label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    columns: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.entrada-dados input:focus~label,
.entrada-dados input:valid~label {
    top: -5px;
}

.entrada-dados input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(66, 47, 47);
    font-weight: 600;
    padding: 0 53px 0 5px;
}
.entrada-dados .icone {
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: rgb(22, 18, 71);
    line-height: 57px;

}
.lembrar_dados {
    font-size: 1em;
    color: rgb(34, 9, 9);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.lembrar_dados label input {
    accent-color: #162938;
    margin-right: 3px;

}
.lembrar_dados a {
    color: #162938;
    text-decoration: none;
}   

.lembrar_dados a:hover {
    text-decoration: underline;
}
.registre-se {
    font: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.registre-se p a {
    color: #162938;
    text-decoration: none;
    font-weight: 700;
}
.registre-se p a:hover {
    text-decoration: underline;

}
*/
footer {     
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    font-size: 15px;    
    width: 670px;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    
}



